<div class="banner">
  <div class="banner__inner">
    <div class="banner__image">
      {% block image %}
        {{ image }}
      {% endblock %}
    </div>
    <div class="banner__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</div>
