<{{html_tag|default('article')}}{{attributes.addClass('umami-card')}}>
  <div class="umami-card__wrapper">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</{{html_tag|default('article')}}>
